body {
    font-family: sans-serif;
    color: #333;
    margin: 40px auto;
    max-width: 800px;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    background-color: #F3F3F3;
}

h1, h2, h3 {
    margin-bottom: 0.5em;
}

h2 {
    font-size: 120%;
}

p, ul {
    margin: 0.5em 0;
}

footer {
    font-size: smaller;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type=checkbox] {
    vertical-align: middle;
}

label {
    vertical-align: middle;
}

#loading img {
    vertical-align: middle;
    margin-right: 0.75em;
}

.discussion {
    border: thin solid gray;
    padding: 1em;
    margin: 5px 0;
}

.discussion button {
    float: right;
}

.discussion * {
    display: block;
}

#form {
    margin: 1em 0;
}

#form button {
    margin-left: 1em;
}

#page {
    width: 50%;
}

svg {
    background-color: white;
    border: thin solid gray;
    padding: 1em;
    padding-left: 3.25em;
    padding-top: 2.5em;
    padding-right: 0.5em;
    overflow: visible;
    margin-top: 0.5em;
}

.line {
    fill: none;
    stroke: gray;
    stroke-width: 1.5px;
}

.line.keep, .line.support {
    stroke: green;
}

.line.delete, .line.oppose {
    stroke: red;
}

text.keep, text.support {
    fill: green;
}

text.delete, text.oppose {
    fill: red;
}

.line.percentage {
    fill: none;
    stroke: black;
}

rect.background {
    shape-rendering: crispEdges;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

div.download {
    border: 0;
    margin: 0.25em 0;
    padding: 0;
}

div.download p {
    margin: 0;
    padding: 0;
    text-align: right;
}

div.download textarea {
    width: 100%;
    height: 10em;
    margin: 0.5em;
}

#analysis table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: white;
}

#analysis table caption {
    font-weight: bold;
    margin-bottom: 5px;
}

#analysis table th, #analysis table td {
    border: thin solid gray;
    padding: 5px;
}

#vote-tally h2 {
    margin-top: 0;
}

#vote-list {
    margin-top: 1.5em;
}

.permalink {
    font-size: smaller;
}
