body {
    font-family: sans-serif;
    color: #333;
    margin: 40px auto;
    max-width: 800px;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    background-color: #F3F3F3;
}

h2 {
    font-size: 120%;
}

footer {
    font-size: smaller;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#suggestions {
    font-size: smaller;
}

#suggestions a:not(:last-child) {
    margin-right: 1em;
}

.discussion {
    border: thin solid gray;
    padding: 1em;
    margin: 5px 0;
}

.discussion button {
    float: right;
}

.discussion * {
    display: block;
}

#analysis div {
    border: thin solid blue;
    padding: 1em;
    display: block;
}

#form {
    margin: 1em 0;
}

#page {
    width: 50%;
}

svg {
    background-color: white;
    border: thin solid gray;
    padding: 1em;
    padding-left: 4.125em;
    padding-top: 2.5em;
    overflow: visible;
}

.line {
    fill: none;
    stroke: gray;
    stroke-width: 1.5px;
}

.line.keep, .line.support {
    stroke: green;
}

.line.delete, .line.oppose {
    stroke: red;
}

text.keep, text.support {
    fill: green;
}

text.delete, text.oppose {
    fill: red;
}

.line.percentage {
    fill: none;
    stroke: black;
}

rect.background {
    shape-rendering: crispEdges;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

#analysis table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: white;
}

#analysis table caption {
    font-weight: bold;
    margin-bottom: 5px;
}

#analysis table th, #analysis table td {
    border: thin solid gray;
    padding: 5px;
}

.permalink {
    font-size: smaller;
}